/* CTA */
.CTA {
    display: block;

    text-align: center;
    margin: var(--ctaButton-margin);
    padding: var(--ctaButton-padding) var(--ctaButton-padding);
}

@media screen and (max-width: 991px) {
    .CTA {
        margin-left: 0;
    }
}

.CTAButton {
    text-decoration: none;
    background-color: #EDAFB8;
    border: solid #EDAFB8;
    padding: 10px;
    color: white;
}

.CTAButton:hover {
    background-color: white;
    text-decoration: solid;
    padding: 10px;
    border: solid #EDAFB8;
    color: #EDAFB8;
}